@import "./../../assets/scss/main.scss";

.card-price {
    height: toRem(25);
    width: toRem(70);

    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;

    background: rgba(255, 255, 255, 0.09);
    /* Blur */
    color: white;
    backdrop-filter: blur(30px);
    /* Note: backdrop-filter has minimal browser support */
    border-radius: 7.13542px;

    &__label {
        font-style: normal;
        font-weight: bold;
        font-size: toRem(12);
        line-height: toRem(15);
        text-align: center;
    }
}
