@import "./../../assets/scss/main.scss";

.product-card {
    position: relative;
    height: toRem(160);
    width: toRem(258);

    &_out-of-stock {
        opacity: 0.3;
    }

    &__image {
        height: 100%;
        width: calc(100% - 2px);

        position: absolute;
        left: toRem(2);

        border-radius: toRem(5);
        &-wrapper {
        }
    }

    &__gradient {
        position: absolute;
        height: 100%;
        width: 100%;
        left: 0;
        bottom: 0;
        background: linear-gradient(180deg, rgba(19, 17, 29, 0) 0%, rgba(19, 17, 29, 0.26) 49.48%, #13111d 100%);
    }
    &__price-wrapper {
        position: relative;
        left: toRem(0);
        top: toRem(93);
    }

    &__label-wrapper {
        position: absolute;
        left: 4.62%;
        top: 78.75%;
    }

    &__share-wrapper {
        position: absolute;
        right: 17.69%;
        top: 4.58%;
    }

    &__favorite-wrapper {
        position: absolute;
        right: 4.23%;
        top: 4.58%;
    }

    &__attributes-wrapper {
        position: relative;
        top: 8.5rem;

        background: #13111D ;
        
        display: flex;
        flex-direction: column;

        gap: 0.3rem;

        margin-bottom: toRem(10px);
    }

    &__attribute-items-wrapper {
        display: flex;
        margin: 0 toRem(5);

        &_buy {
            flex: 1;
        }
    }

    &__attribute-items-buy {
        flex: 1;
    }

    &__out-of-stock {
        position: absolute;
        height: 100%;
        width: 17rem;
        top: 0;
        left: 0;
        
        display: flex;
        align-items: center;
        justify-content: center;
        
        font-size: 1.2rem;
        font-weight: 700;
        color: white;

        background: #13111Db0;
    }
}
