@import "./../../assets/scss/main.scss";

.card-attributes {
    flex: 1;

    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-top: 0.5rem;
    // padding-bottom: 0.5rem;

    &__items {
        width: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        flex-direction: row;

        height: 1.7rem;
        flex-wrap: wrap;

        overflow: hidden;
        gap: 0.4rem;
    }

    &__button {
        height: toRem(24);
        width: toRem(24);

        display: flex;
        justify-content: center;
        align-items: center;

        &_left {
            padding-right: 0.4rem;
        }

        &_right {
            padding-left: 0.4rem;
        }
    }
}
