@import "./../../assets/scss/main.scss";

.card-label {
    left: 4.62%;
    top: 78.75%;

    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;

    color: #FFFFFF;
}
