@import "./../../assets/scss/main.scss";

.home {
    height: 100vh;
    width: toRem(1170);

    padding: 0 10%;
    max-width: toRem(1170);

    background-color: $background;

    display: flex;
    align-items: center;

    gap: 3rem;
}
